repository_name = "example-repo"
# repository_visibility = "public"
issue_label_labels = [
    {
        name = "test"
        color = "123456"
        description = "testdescription"
    },
    {
        name = "test2"
    }
]
github_repository_collaborators_collaborators = {
    "pepper" = "push"
    "albus" = "admin"
}

github_repository_file_files_and_content = [
  
  {
    file          = "test"
    file_location = "files/test.txt"
  },
  {
    file          = "config.yaml"
    content       = "Just content"
  },
  {
    file          = "test_file_logic"
    content       = "content text"
    file_location = "files/failifseen.txt"
  }
]
