repository_name = "example-repo"
# repository_visibility = "public"
issue_label_labels = [
    {
        name = "test"
        color = "123456"
        description = "testdescription"
    },
    {
        name = "test2"
    }
]
